<div class="general">
    <div class="center">
      <section id="content">
          <h2 class="sub-header">Crear Articulo</h2>
          <form class="middle-form" @submit.prevent="guardarArticulo"> 
              <div class="form-group">
                  <label for="titulo">Titulo</label>
                  <input type="text" name="titulo" v-model="articulo.titulo" />
              </div>

              <div class="form-group">
                  <label for="contenido">Contenido</label>
                  <textarea name="contenido" v-model="articulo.contenido"></textarea>
              </div>

              <!--Limpiar los float -->
              <div class="clearfix"></div>
              <button type="submit" title="Desconectar" class="btn-verde">
                <font-awesome-icon icon="check"/>
              </button>
          </form>
      </section>
    </div>
    <form class="middle-form" @submit.prevent="logOut">
        <button type="submit" title="Desconectar" class="btn-rojo">
            <font-awesome-icon icon="sign-out-alt"/>
        </button>
    </form>
</div>