    <div class="center">
      <section id="content">
          <article class="article-item detail" v-if="articulo">
              <div class="image-wrap" v-if="articulo.imagen" >
                  <img :src="articulo.imagen" :alt="articulo.titulo" :title="articulo.titulo" />
              </div>
              <div class="image-wrap" v-if="!articulo.imagen" >
                <img src="../../assets/images/noimage.png" :alt="articulo.titulo" :title="articulo.titulo"  />
            </div>              
            <router-link :to="'/home'" type="button" class="btn-verde right">
                <span class="textoVolver">Volver</span>
            </router-link>
            <h1 class="sub-header">{{articulo.titulo}}</h1>
            <span class="date">{{articulo.fecha | moment("from", "now")}}</span>
            <p>{{articulo.contenido}}</p>
            <!-- Limpiar los float -->
            <div class="clearfix"></div>
          </article> 
      </section>
    </div>