/* Diseño Responsive */

@media (max-width: 1489px) {
    .center {
        width: 85%;
    }
}

@media (max-width: 1314px) {
    .center {
        width: 95%;
    }
    #menu ul {
        width: auto;
    }
}

@media (max-width: 766px) {
    #logo {
        float: none;
        width: 240px;
        margin: 0px auto;
        margin-top: 20px;
    }
    #menu,
    #menu ul {
        clear: both;
        float: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
        line-height: 43px;
    }
    #content {
        float: none;
        width: 100%;
    }
    #sidebar {
        float: none;
        width: 60%;
        margin: 0px auto;
        margin-bottom: 50px;
    }
    #slider h1 {
        padding-top: 115px;
        font-size: 25px;
    }
    .middle-form {
        width: 70%;
    }
}

@media (max-width: 494px) {
    #header {
        min-height: 130px;
        overflow: hidden;
    }
    #menu,
    #menu ul {
        line-height: 50px;
    }
    #menu,
    #menu ul li {
        margin-left: 7px;
        margin-right: 7px;
    }
    #slider {
        height: 180px;
    }
    #slider h1 {
        font-size: 19px;
        padding-top: 30px;
    }
    #slider .btn-white {
        margin-top: 20px;
    }
    #slider .slider-small {
        height: 100px;
    }
    #slider .slider-small h1 {
        padding-top: 35px;
    }
}