<div class="general">
    <SliderComponent texto="Bienvenidos a Vue.js" home="true"></SliderComponent>
    <div class="center">
        <section id="content">
            <h2 class="sub-header">Ultimos articulos</h2>
            <!-- Listado de articulos -->
            <div id="articles" v-if="articulos">
                <ArticulosComponent :articulos="articulos"></ArticulosComponent>
            </div>
        </section>
        <SidebarComponent></SidebarComponent>
    </div>
</div>